.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    background-image: url('../../assets/Image.jpg');
    padding: 50px;
  }
   
  .hero-content {
    max-width: 600px;
  }
   
  .hero-title {
    font-size: 36px;
    color: #254;
  }
   
  .hero-description {
    font-size: 18px;
    color: red;
  }
   
  .hero-image {
    max-width: 100%;
    height: auto;
  }

